#!/usr/bin/env bash

table_staleness=0
consistency_model=SSPPush

num_work_units=240

dataset=common_crawl
#dataset=20news
#dataset=culp_e
num_comm_channels_per_client=1

num_worker_threads=1

num_topics=1000

num_clocks_per_work_unit=1
num_iters_per_work_unit=1

bg_idle_milli=2
server_idle_milli=2
client_bandwidth_mbps=160
server_bandwidth_mbps=160
thread_oplog_batch_size=14000
row_candidate_factor=100
update_sort_policy=RelativeMagnitude
numa_opt=false
numa_policy=Even

row_oplog_type=0

server_push_row_upper_bound=500
client_send_oplog_upper_bound=5000

append_only_buffer_capacity=$((1024*512))
append_only_buffer_pool_size=3
bg_apply_append_oplog_freq=-1

process_storage_type=UnboundedSparse
oplog_type=StaticSparse
no_oplog_replay=true
naive_table_oplog_meta=false
suppression_on=false
use_approx_sort=false

data_path=/n/bigml/completed/201604/incoming_reorg/201604/

app_output_dir=${app_root}/output

rm -rf ${app_output_dir}
mkdir ${app_output_dir}
cp ${app_root}/scripts/common_crawl.config ${app_output_dir}

output_file_prefix=${app_output_dir}/nytimes

word_topic_table_process_cache_capacity=10000

host_filename="../../machinefiles/localserver"

compute_ll_interval=5

stats_path=${app_output_dir}/lda_stats.yaml

log_dir=${app_output_dir}"/logs.lda.s"$table_staleness

progname=lda_main

alpha=0.1
beta=0.1
